<%- include('../partials/header') %> 

<h1>characters</h1>
<p>Hello <%= username %> </p>

<% for(let index = 0; index < characters.length; index++) {%>
    <div class="card" style="width: 18rem;">
        <img src="<%= characters[index].characterImage %>" class="card-img-top" alt="<%= characters[index].characterName %>">
        <div class="card-body">
        <h5 class="card-title"><%= characters[index].characterName %></h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <form action="/edit/<%= characters[index].id %> " method="GET">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
        <form action="/delete/<%= characters[index].id %>" method="POST">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        </div>
    </div>
<% } %> 

<%= message %>

    